<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Neutral | カートの確認</title>
</head>
<body>

  <main>
    <p>ファッションを楽しむすべての人に。</p><br>
    <p>ユニセックスアイテムでもっと自由に。もっと楽しく。</p>

    <div class="container-sc">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/Neutral/OrderSubmitServlet" method="post">
          <table class="table table-bordered border-secondary">
            <thead>
              <tr>
                <th scope="col" style="width: 50px"></th>
                <th scope="col" style="width: 150px" class="example2">商品ID</th>
                <th scope="col" style="width: 200px" class="example2">商品名</th>
                <th scope="col" style="width: 100px" class="example2">サイズ</th>
                <th scope="col" style="width: 90px" class="example2">個数</th>
                <th scope="col" style="width: 120px" class="example2">単価</th>
                <th scope="col" style="width: 120px" class="example2">小計</th>
                <th scope="col" style="width: 120px"></th>
              </tr>
            </thead>
            <tbody id="table_contents">
              <tr>
                <th scope="row" style="width: 50px" class="checkbox">
                  <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." checked>
                  </div>
                </th>
                <td style="width: 100px">商品ID</td>
                <td style="width: 200px">商品名</td>
                <td style="width: 100px">サイズ</td>
                <td style="width: 120px" class="example1"><input class="kosuu" type="number" name="orderNumber" id="orderLot" min="1" value="1"></td>
                <td style="width: 120px" class="example1"> <script>var price = 2500;</script> 2500円</td>
                <td style="width: 120px" class="example1" id="subtotal">
                  <script>
                    //注文数量と価格をもとに小計を計算
                    var lot = parseInt(document.getElementById("orderLot").value);
                    console.log(lot);
                    var subtotal = lot * price;
                    document.getElementById("subtotal").innerText = subtotal + " 円";
                  </script>
                </td>
              </tr>
            </tbody>
              <tfoot>
                <tr>
                  <th scope="col" style="width: 50px"></th>
                  <th scope="col" style="width: 100px"></th>
                  <th scope="col" style="width: 200px"></th>
                  <th scope="col" style="width: 100px"></th>
                  <th scope="col" style="width: 120px"></th>
                  <th scope="col" style="width: 120px" class="example1">合計金額</th>
                  <th scope="col" style="width: 120px" class="example1" id="total">
                    <script>
                      //カートに入っている商品の合計金額を計算
                      var tableElem = document.getElementById('table_contents');
                        var rowElems = tableElem.rows;
                        var totalPrice = 0;
                        for (i = 0, len = rowElems.length; i < len; i++) {
                          totalPrice += parseInt(rowElems[i].cells[6].innerText);
                        }
                        document.getElementById('total').innerText = totalPrice + " 円";
                      //数量が変更された場合の再計算処理
                      document.getElementById("orderLot").onchange = function () {
                        var lot = parseInt(document.getElementById("orderLot").value);
                        console.log(lot);
                        var subtotal = lot * price;
                        console.log(subtotal);
                        document.getElementById("subtotal").innerText = subtotal + " 円";

                      //合計金額の再計算処理
                        var tableElem = document.getElementById('table_contents');
                        var rowElems = tableElem.rows;
                        var totalPrice = 0;
                        for (i = 0, len = rowElems.length; i < len; i++) {
                          totalPrice += parseInt(rowElems[i].cells[6].innerText);
                        }
                        document.getElementById('total').innerText = totalPrice + " 円"; 
                    };
                    </script>
                  </th>
                </tr>
              </tfoot>
          </table>

          <script>
            var a = [0,1,2,3,4];
            
            for(i = 0 ; i < a.length ; i++){
              var ans = 0;
              ans += a[i];
              console.log(ans);
            }
          </script>

          <!-- <p>ご購入の商品にチェックを入れてください。</p>
          <p>上記内容でよろしければご注文を確定するボタンをクリックしてください。</p>
          <div><br>
            <a href="/Neutral/WelcomeServlet"><button type="button" class="btn btn-outline-dark">買い物を続ける</button></a>
            <% // if (cart !=null) { %>
              <button type="submit" class="btn btn-dark <% System.out.println(" off");%>">ご注文内容を確定する</button>
              <% // } %>
                <br><br>
          </div> -->
        </form>
      </div>
    </div>
  </main>
</body>
</html>